a:link {
    color: black;
}
a:visited {
	color: grey;
}
#sidebar {
    background: yellow;
    color: grey;
    float: right;
    width: 20%;
}
#header {
    background: black;
    color: white;
    float: top;
}
#content {
    background: white;
    color: black;
    float: left;
    width: 80%;
}
#footer {
    background: grey;
    color: white;
    clear: both;
}
#columnwrap {
    width: 100%;
    display: inline-block;
    background: yellow;
}
#container {

}
.month {
    text-align: right;
    width: 96%;
}
.today {
    background: orange
}
.img {
    float: left;
    max-width: 100%;
    max-height: auto;
}