.month {
    text-align: right;
    border-collapse: separate;
    border-spacing: 5px 0px;
}
.mon, .tue, .wen, .thu, .fri, .sat, .sun {
    text-align: right;
}
.today {
    background: orange
}
.bok {
    height: 40%;
}