<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'wlether/style.css' %}" />
  <title>{% block title %}My amazing site{% endblock title %}</title>
</head>

<body>
  <div id="container">
    <div id="header">
      {% block header %}
      \
      {% endblock header %}
    </div>

    <div id="columnwrap">
      <div id="sidebar">
	<ul>
	  <li><a href="/wlether/">Home</a></li>
	  <li><a href="/admin/">Admin</a></li>
	</ul>
	{% block sidebar %}
	{% endblock sidebar %}
      </div>

      <div id="content">
	{% block content %}
	{% endblock content %}
      </div>
    </div>

    <div id="footer">
      {% block footer %}
      /
      {% endblock footer %}
    </div>
  </div>

</body>
</html>
