{% extends "wlether/base.html" %}

{% block title %} {{ now }} {% endblock %}

{% block content %}
{% if latest_scan_list %}
<ul>
  {% for scan in latest_scan_list %}
      {# <li><a href="/wlether/{{ scan.id }}/">{{ scan.scan_time }}</a></li> #}
      <li><a href="{% url 'wlether:detail' scan.id %}">{{ scan.scan_time }} / {{ scan.apoint_set.all.count }} / {{scan.mm}}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No scans are available.</p>
{% endif %}
{% endblock %}

{# {% block footer %} {{ now }} {% endblock %} #}

{% comment %}
<div>
  <div style="background:black; color:white; float:top">
    {{ now }}
  </div>
  <div style="background:white; color:black; float:left; width:80%;">
    {% if latest_scan_list %}
    <ul>
      {% for scan in latest_scan_list %}
      <li><a href="{% url 'wlether:detail' scan.id %}" style="color:grey">{{ scan.scan_time }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No scans are available.</p>
    {% endif %}
  </div>
  <div style="background:yellow; color:grey; float:right; width:20%;">
      q
      q
      q
      q
      q
      q
      q
      q
      q
  </div>
  <div style="background:white; color:black; clear:both;">
    {{ now }}
  </div>
</div>
{% endcomment %}
