.month {
    text-align: right;
    border-collapse: separate;
    border-spacing: 5px 0px;
}
.mon, .tue, .wen, .thu, .fri, .sat, .sun {
    text-align: right;
}
.today {
    background: grey
}
.bok0 {
    height: 19%;
}
.bok {
    height: 50%;
}
.bok9 {

    height: 10%;
}
.equal {
  display: flex;
  display: -webkit-flex;
}
