{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}" />

<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<div class="container">
    <nav  class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'weather:cities' %}">Weatherama</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'weather:cities' %}">City list</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'weather:cities' %}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav">
	    <li><a href="{% url 'weather:archive'%}">Archive</a></li>
	  </ul>
        </div>
    </nav>

    {% bootstrap_messages %}
    
    {% block content %}(no content){% endblock %}

    <footer>
      <p>&copy; 2016 Company, Inc.
	<mark>{% block footer %}(no footer){% endblock %}</mark>
      </p>
    </footer>


</div>
{% endblock %}
