{% extends 'weather/base.html' %}

{% block content %}
<div class="page-header">
  <h2>{{ city.name }}</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Req Date</th>
          <th>Req Info</th>
          <th>Iden</th>
          <th>Name</th>
          <th>Coord</th>
        </tr>
      </thead>
      <tbody>
	{% for owm in city.owm_set.all %}
	<tr>
	  <td><a href="{% url 'weather:owm_forecast_view' owm.id %}">{{ owm.req_date }}</a></td>
	  <td>{{ owm.cod }}, {{ owm.message }}, {{ owm.cnt }}</td>
	  <td>{{ owm.iden }}</td>
	  <td>{{ owm.name }}</td>
	  <td>{{ owm.coord_lon }}, {{ owm.coord_lat }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block footer %}
{{ request.user }}
{% endblock %}
