{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}" />

  <h1>{{ c.name }}</h1>
  <h3>{{ c.ds_owm }}</h3>

  {% if ok == '' %}
  <p>{{ root }}</p>
  <p>{{ city }}</p>
  <table>
    {% for l in list %}
    <tr><td>{{ l.dt_txt }}</td><td>{{ l.main.temp }}</td><td>{{ l.main.pressure }}</td><td>{{ l.main.humidity }}</td><td>{{ l.wind.speed }}</td><td>{{ l.wind.deg }}</td></tr>
    {% endfor %}
  </table>
  {% elif fail == '' %}
  {{ error }}
  {% endif %}
