{% extends 'weather/base.html' %}

{% block content %}
<div class="page-header">
  <h2>{{ day }}</h2>
</div>
<div class="row">
  <div class="col-md-10">
    {% if page_obj %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Req Date</th>
          <th>Req Info</th>
          <th>Iden</th>
          <th>Name</th>
          <th>Coord</th>
        </tr>
      </thead>
      <tbody>
	{% for owm in object_list %}
	<tr>
	  <td><a href="{% url 'weather:owm_forecast_view' owm.id %}">{{ owm.req_date }}</a></td>
	  <td>{{ owm.cod }}, {{ owm.message }}, {{ owm.cnt }}</td>
	  <td>{{ owm.iden }}</td>
	  <td>{{ owm.name }}</td>
	  <td>{{ owm.coord_lon }}, {{ owm.coord_lat }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No reqs are available.</p>
    {% endif %}
  </div>
  <div class="col-md-2">
    {% autoescape off %}
    {{ calendar }}
    {% endautoescape %}
  </div>
</div>
<p>
  {% if page_obj.has_previous %}
  <a href="?page=1">first</a>
  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
  {% endif %}

  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">next</a>
  <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
  {% endif %}
</p>
<p>
  {% if previous_day %}
  Previous Day: <a href="{% url 'weather:archive_day' previous_day.year previous_day.month previous_day.day %}">
    {{ previous_day }}</a>
  {% endif %}
  {% if previous_day and next_day %}--{% endif %}
  {% if next_day %}
  Next Day: <a href="{% url 'weather:archive_day' next_day.year next_day.month next_day.day %}">
    {{ next_day }}</a>
  {% endif %}
</p>

{% endblock %}

{% block footer %}
{{ request.user.username }}
{% endblock %}
