{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}
<div style="border:1px solid #CCC;width:360px;height:127px;position:relative" id="yui_3_17_2_1_1488607017442_166">
	<a id="attr-example-img" href="http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2123268/" target="_blank" style="display:block" data-rapid_p="29"></a>
	<a href="https://www.yahoo.com/?ilc=401" target="_blank" style="display:inline-block;position:relative;left:226px;top:-29px" data-rapid_p="30"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"> </a>
</div>
{% endblock %}
