<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cuzco</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    
    <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
       rel="stylesheet" type="text/css">
    <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
       rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

    <script type="text/javascript"> Bokeh.set_log_level("info"); </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    {% block bootstrap3_content %}
    <div class="container">
      <nav  class="navbar navbar-default">
	<div class="navbar-header">
          <a class="navbar-brand" href="{% url 'main' %}">Cuzco</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'weather:cities' %}">Weatherama</a></li>
          </ul>
          <ul class="nav navbar-nav">
	    <li><a href="{% url 'weather:archive'%}">Archive</a></li>
	  </ul>
          <ul class="nav navbar-nav">
	    <li><a href="{% url 'about' %}">About</a></li>
	  </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'weather:cities' user.username %}">{{ user.username }}</a></li>
            <li><a href="{% url 'auth:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'auth:login' %}">Login</a></li>
            {% endif %}
          </ul>
	</div>
      </nav>

      {% bootstrap_messages %}
    
      {% block content %}(no content){% endblock %}

      <footer>
	<p>&copy; 2016 Company, Inc.
	  <mark>{% block footer %}_{% endblock %}</mark>
	</p>
      </footer>
    </div>
    {% endblock %}
  </body>
</html>
