<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cuzco</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    
    <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css"
       rel="stylesheet" type="text/css">
    <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css"
       rel="stylesheet" type="text/css">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>

    <script type="text/javascript"> Bokeh.set_log_level("info"); </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>

  <body>
    {% block bootstrap4_content %}
    <nav class="navbar navbar-expand-md bg-light navbar-light">
      <a class="nav-brand text-dark font-weight-bold" href="{% url 'main' %}">Cuzco</a>
      <ul class="navbar-nav">
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'weather:cities' %}">Weatherama</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'weather:archive' %}">Archive</a>
	</li>
	<li class="navbar-item">
	  <a class="nav-link" href="{% url 'about' %}">About</a>
	</li>
      </ul>
    </nav>
    <br>

    {% bootstrap_messages %}
    
    {% block content %}(no content){% endblock %}
    <br>
    <footer>
      <p>&copy; 2018 Company, Inc.
	{% block footer %}{% endblock %}
	<a href="http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2123268/" target="_blank">
	  <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/></a>
      </p>
    </footer>
    {% endblock %}
  </body>
</html>
