{% extends 'base.html' %}

{% block content %}
<script src='http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
<div id='openweathermap-widget'></div>
<script type='text/javascript'>
  window.myWidgetParam = {
  id: 11,
  cityid: 498698,
  appid: '775670b8133c08911511535c6b1dfbdf',
  containerid: 'openweathermap-widget',
  };
  (function() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.async = true;
  script.src = 'http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(script, s);
  })();
</script>

<div>
  <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/white.png" width="134" height="29"/> </a>
</div>
{% endblock %}
